<!-- <h1>Question</h1>
<p>Quelle est votre question</p>
<form action=" ">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form> -->
<form action="/answer">
 <label for="question">Speak to your coach</label>
 <input type="text" id="question" name="query" placeholder="what time is it?">
 <input type="submit" value="Go on!">
</form>
